<section class="content-header">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-users">&nbsp;</i> Actors <a class="btn btn-success" 
		href="#/actors/create"><i class="fa fa-plus"></i></a></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Bordered Table</h3>
            <div class="box-tools pull-right">
                <div class="input-group input-group-sm">
                    <input type="text" placeholder="Search" class="form-control col-lg-12 col-xs-12" name="table_search" ng-model="actor_filter">
                </div>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-bordered">
                <tbody>
                    <th>Id</td>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Birth Date</th>
                        <th>Action</th>
                        <tr ng-repeat="actor in actors | filter: actor_filter">
                            <td>{{actor.Id}}</td>
                            <td><a href="#/actors/{{actor.Id}}/update">{{actor.FirstName}}</a></td>
                            <td><a href="#/actors/{{actor.Id}}/update">{{actor.LastName}}</a></td>
                            <td>{{actor.BirthDate}}</td>
                            <td>
                                <a class="btn btn-danger btn-xs" href="#/"><i class="fa fa-trash"></i></a>
                                <a class="btn btn-primary btn-xs" href="#/actors/{{actor.Id}}/update"><i class="fa fa-pencil"></i></a>
                                <a class="btn btn-info btn-xs" href="#/"><i class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
