<section class="content-header">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-list">&nbsp;</i> Categories <a class="btn btn-success" 
				href="#/categories/create"><i class="fa fa-plus"></i></a></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Bordered Table</h3>
            <div class="box-tools pull-right">
                <div class="input-group input-group-sm">
                    <input type="text" placeholder="Search" class="form-control col-lg-12 col-xs-12" name="table_search" ng-model="category_filter">
                </div>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-striped">
                <thead>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Action</td>
                </thead>
                <tbody>
                    <tr ng-repeat="ctg in categories | filter: category_filter">
                        <td>{{ctg.Id}}</td>
                        <td><a href="#/categories/{{ctg.Id}}/update">{{ctg.Name}}</a></td>
                        <td>
                            <a class="btn btn-danger btn-xs" href="#/"><i class="fa fa-trash"></i></a>
                            <a class="btn btn-primary btn-xs" href="#/categories/{{ctg.Id}}/update"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-info btn-xs" href="#/"><i class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
