<section class="content-header">
    <h1>
        <i class="fa fa-tasks"></i>
        Dashboard
        <small>Version 2.0</small>
      </h1>
    <ol class="breadcrumb">
        <li><a href="#/dashboard"><i class="active fa fa-dashboard"></i> Home</a></li>
    </ol>
</section>
<section class="content">
    <!-- /.row -->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="#/films">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua">
        <i class="fa fa-film"></i>
        </span>
                    <div class="info-box-content">
                        <span class="info-box-text">New Films!</span>
                        <span class="info-box-number">
              {{data.FilmsCnt}}
            </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="#/actors">
                <div class="info-box">
                    <span class="info-box-icon bg-red">
          <i class="fa fa-users"></i>
          </span>
                    <div class="info-box-content">
                        <span class="info-box-text">New Actors!</span>
                        <span class="info-box-number">
              {{data.ActorsCnt}}
            </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="#/categories">
                <div class="info-box">
                    <span class="info-box-icon bg-green">
          <i class="fa fa-tasks"></i>
          </span>
                    <div class="info-box-content">
                        <span class="info-box-text">New Categories!</span>
                        <span class="info-box-number">
              {{data.CategoriesCnt}}
            </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="#/categories">
                <div class="info-box">
                    <span class="info-box-icon bg-orange">
          <i class="fa fa-tasks"></i>
          </span>
                    <div class="info-box-content">
                        <span class="info-box-text">New Categories!</span>
                        <span class="info-box-number">
              {{data.CategoriesCnt}}
            </span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- /.row -->
</section>
