<section class="content-header">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-film"></i>&nbsp;Films in category <strong>{{categoryFilms.Category.Name}}</strong> <a class="btn btn-success" href="#/films"><i class="fa fa-arrow-left"></i></a></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Bordered Table</h3>
            <div class="box-tools pull-right">
                <div class="input-group input-group-sm">
                    <input type="text" placeholder="Search" class="form-control col-lg-12 col-xs-12" name="table_search" ng-model="filmCtg_filter">
                </div>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-striped">
                <thead>
                    <td>Film</td>
                </thead>
                <tbody>
                    <tr ng-repeat="data in categoryFilms.Films | filter: filmCtg_filter">
                        <td><a href="#/films/{{data.Id}}/update">{{data.Name}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
