<section class="content-header">
    <div class="row">
        <div class="pull-left col-lg-6 col-xs-12">
            <h1 class="page-header"><i class="fa fa-film"></i>&nbsp;Films <a class="btn btn-success" href="#/films/create"><i class="fa fa-plus"></i></a></h1>
        </div>
    </div>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Bordered Table</h3>
            <div class="box-tools pull-right">
                <div class="input-group input-group-sm">
                    <input type="text" placeholder="Search" class="form-control col-lg-12 col-xs-12" name="table_search" ng-model="film_filter">
                </div>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Premiere date</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                    <tr ng-repeat="film in films | filter: film_filter">
                        <td>{{film.Id}}</td>
                        <td><a href="#/films/{{film.Id}}/update">{{film.Name}}</a></td>
                        <td>{{film.PremiereDate}}</td>
                        <td><a href="#/categories/{{film.CategoryId}}/films"><span class="label label-warning">{{film.CategoryName}}</span></a></td>
                        <td>
                            <a class="btn btn-danger btn-xs" href="#/"><i class="fa fa-trash"></i></a>
                            <a class="btn btn-primary btn-xs" href="#/films/{{film.Id}}/update"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-info btn-xs" href="#/"><i class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
        </div>
    </div>
</section>
