<section class="content-header">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-film"></i>&nbsp;Create film <a class="btn btn-success" href="#/films"><i class="fa fa-arrow-left"></i></a></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-6">
            <form>
                <div class="form-group">
                    <label for="fname">Name</label>
                    <input ng-model="film.Name" type="text" class="form-control" id="fname" placeholder="name">
                </div>
                <div class="form-group">
                    <label for="fpdate">Premiere date</label>
                    <input ng-model="film.PremiereDate" type="text" datepicker class="form-control" id="fpdate" placeholder="date">
                </div>
                <div class="form-group">
                    <label for="fctg">Category</label>
                    <select ng-model="film.CategoryId" id="fctg" class="form-control" ng-options="ctg.Id as ctg.Name for ctg in metadata.Categories"></select>
                </div>
                <div class="form-group">
                    <label for="factors">Actors</label>
                    <select multiple ng-model="film.Actors" id="factors" class="form-control" ng-options="ctg.Id as (ctg.FirstName+' '+ctg.LastName) for ctg in metadata.Actors"></select>
                </div>
                <button type="button" class="btn btn-success" ng-click="create(film);"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
            </form>
        </div>
    </div>
</section>
