<!-- Sidebar user panel -->
<div class="user-panel">
    <div class="pull-left image">
        <img src="bower_components/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
        <p>Alexander Pierce</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
</div>
<!-- search form -->
<form action="#" method="get" class="sidebar-form">
    <div class="input-group">
        <input name="q" class="form-control" placeholder="Search..." type="text">
        <span class="input-group-btn">
                          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                          </button>
                        </span>
    </div>
</form>
</li>
<!-- /.search form -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li class="active treeview">
        <a href="#/dashboard" show-for><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
    </li>
    <li class="treeview">
        <a href="#/films" show-for><i class="fa fa-film"></i><span>Films</span></a>
    </li>
    <li class="treeview">
        <a href="#/actors" show-for><i class="fa fa-users"></i><span>Actors</span></a>
    </li>
    <li class="treeview">
        <a href="#/categories" show-for><i class="fa fa-list"></i><span>Categories</span></a>
    </li>
    <li class="treeview">
        <a href="#/me" show-for><i class="fa fa-user"></i><span>My Data</span></a>
    </li>
    <li class="treeview" ng-controller="LogoutCtrl">
        <a href="#/" ng-click="logout()"><i class="fa fa-sign-out"></i><span>Logout</span></a>
    </li>
</ul>
